<div class="card mb-4" (click)="onSelectRecipes()" style="cursor: pointer">
  <div class="card-body">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="recipe-details d-flex flex-column">
        <h6>{{ recipe.name }}</h6>
        <p class="mb-0">{{ recipe.description }}</p>
      </div>
      <div class="recipe-image">
        <img
          [src]="recipe.imagePath"
          [alt]="recipe.name"
          class="img-responsive"
          style="max-height: 50px"
        />
      </div>
    </div>
  </div>
</div>
